@use 'frappe' as cat;

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: cat.$text;
    caret-color: cat.$rosewater;
    font-size: 1em;
    background-color: cat.$base;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    color: cat.$rosewater;
}


#credits {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: cat.$crust;
    border-radius: 50px;
    flex: 1;
    margin: auto;
}